._Databases
._RScripts
._createSet.sh
._make_alignment_VC_CNV.sh
RScripts/._*

.DS_Store
._.DS_Store
._debian
._docker

assets/input/*
!assets/input/.gitkeep

assets/output/*
!assets/output/.gitkeep

.idea
.vscode
