[submodule "tools/FastQC"]
	path = tools/FastQC
	url = https://github.com/s-andrews/FastQC
[submodule "tools/bwa"]
	path = tools/bwa
	url = https://github.com/lh3/bwa.git
[submodule "tools/bam-readcount"]
	path = tools/bam-readcount
	url = https://github.com/genome/bam-readcount
[submodule "tools/samtools"]
	path = tools/samtools
	url = https://github.com/samtools/samtools
[submodule "tools/FREEC"]
	path = tools/FREEC
	url = https://github.com/BoevaLab/FREEC
[submodule "tools/htslib"]
	path = tools/htslib
	url = https://github.com/samtools/htslib
[submodule "tools/cnvkit"]
	path = tools/cnvkit
	url = https://github.com/etal/cnvkit.git
